PySide6
pyautogui
dxcam
Pillow
PyGetWindow
opencv-python-headless
numpy
pywin32
requests
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Media.Ocr
winrt-Windows.Graphics.Imaging
winrt-Windows.Storage.Streams
